{% extends "layout.html" %}

{% block content %}

    {% block head %}
        <title>Sobre - Kaio Dolfini</title>
    {% endblock %}

    <div id="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/55322321?s=460&u=33a029e8ed4965b0ebfc4b1325f8bbfeb31a92ca&v=4" alt="Kaio Dolfini">
        <h1>Kaio Dolfini</h1>
        <h2>Analista de Testes - Pamcary</h2>
        <p>Analista de testes buscando conhecimento em desenvolvimento para mudar de área, fazendo o curso Launch Base da
            <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/kaiodolfini/" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/kaiodesouza/" target="_blank">LinkedIn</a>
            <a href="https://www.facebook.com/kaio.dolfini" target="_blank">Facebook</a>
        </div>
    {% endblock %}